<div>
    <div>
        
    </div>
    <div>
        <h1>Trainer</h1>

        <p>{{username}}</p>

        <a href="/trainer/{{_id}}/profile">profile</a>
        <a href="/trainer/{{_id}}/schedule">schedule</a>

        
    </div>
</div>






