<style>
    body {
        background-image: url('https://i.postimg.cc/KY4dftwM/landing-pa-ge-intento1.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="container">
    <div class="row mt-5" style="height: 420px;">
        <div class="col-md-2">
            <div class="box">

            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-1">
            <div class="box">
                <section class="home">
                    <div class="max-width">
                        <div class="home-content">
                            <a href="/home/trainers" class="btn btn-info">Get started</a>
                        </div>
                        <div class="home-image">
                            <img src="" alt="">
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="col">
            <div class="box">

            </div>
        </div>
    </div>
</div>