
<head>

<style>

</style>



</head>

    <section class="home">
        <div class="max-width">
            <div class="home-content">
                <h3>found your coach <br>for your ideal body fitness</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, numquam, sequi assumenda nam, vel nihil repudiandae omnis eveniet est excepturi atque molestias at dolores fugit!</p>
                <button class="btn">Get started</button>
            </div>
            <div class="home-image">
          
                <img src="" alt="">
            </div>
        </div>
    </section>