<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Vital Coach - Home | </title>
      <!--<link rel="stylesheet" href="/stylesheets/style.css" />-->
   </head>

   <header class="header">
        <a href="#" class="logo">
            <i class="fas fa-dumbbell"></i>Vital Coach
        </a>
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <a href="#">Pricing</a>
            <a href="#">|</a>
            <a href="/auth/login">Log In</a>
            <a href="#" class="btn">Sign Up</a>
            <a href="#">|</a>
            <a href="#">Join us!</a>
        </nav>
    </header>

   <body>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>