<h1>patient</h1>
<p>{{username}}</p>
<div>
    {{#each foundTrainers}}
    

    <p>{{name}}</p>
    <img src="{{image}}" alt="" width="30px" height="30px">

    {{/each}}
</div>

<html>
<head>
  <title>Paciente</title>
</head>
<body>
  <h1>¡Hola {{nombre}}!</h1>
  <button onclick="location.href='/perfil'">Perfil</button>
  <button onclick="location.href='/calendario'">Calendario</button>
  <button onclick="location.href='/proximas-clases'">Próximas Clases</button>
</body>
</html>